<h1>{{ topic.topic_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for project in topic.project_set.all %}
    <li>
        <a href="{% url 'project' topic_id=topic.id project_id=project.id %}">{{ project.title }}</a>
        <p>{{ project.text }}</p>
        <p>{{ project.owner }}</p>
        <p>{{ project.created_date }}</p>
        <p>{{ project.modified_date }}</p>
    </li>
{% endfor %}

{# <a href="{% url 'create_project' topic_id=topic.id %}">Want to create a new topic?</a> #}

<h2>Create Project in Topic {{ topic.topic_text }}</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Create this Project</button>
</form>