{% if user.is_authenticated %}
  <h2>Hi {{ user.username }}!</h2>
  <a href="{% url 'logout' %}">logout</a>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

<h1>{{ topic.topic_text }}</h1>
<p> {{ topic.created_date }}</p>
<p> {{ topic.modified_date }}</p>

<h2>Search in Topic {{ topic.topic_text }}</h2>
<form method="get">
  {% csrf_token %}
  {{ search_form.as_p }}
  <button type="submit" name="project_search" value="yes">Search</button>
</form>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for project in topic.project_set.all %}
    <li>
        <a href="{% url 'project' topic_id=topic.id project_id=project.id %}">{{ project.title }}</a>
        <p>{{ project.text }}</p>
        <p>{{ project.owner }}</p>
        <p>{{ project.created_date }}</p>
        <p>{{ project.modified_date }}</p>
    </li>
{% endfor %}

<h2>Create Project in Topic {{ topic.topic_text }}</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="project_create" value="yes">Create this Project</button>
</form>